<%= form_with model: @book, :html => {:class => "text-center justify-content-center"}, local: true do |form| %>

  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@book.errors.count, "error") %> prohibited
        this book from being saved:
      </h2>
      <ul>
        <% @book.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :title, 'Title:' %>
            <%= form.text_field :title, placeholder: "Title" %>
        </div>
        <div class="form-group col-md-6">
            <%= form.label :number_of_page, 'N° of pages:' %>
            <%= form.text_field :number_of_page, placeholder: "Number of Pages"%>
        </div>
  </div>
  <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :isbn10, 'ISBN10:' %>
            <%= form.text_field :isbn10, placeholder: "ISBN10" %>
        </div>
        <div class="form-group col-md-6">
          <%= form.label :isbn13, 'ISBN13:' %>
            <%= form.text_field :isbn13, placeholder: "ISBN13" %>
        </div>
  </div>
  <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :author, 'Author:' %>
            <%= form.text_field :author, placeholder: "Author" %>
        </div>
        <div class="form-group col-md-6">
            <%= form.label :illustrator, 'Illustrator:' %>
            <%= form.text_field :illustrator, placeholder: "Illustrator" %>
        </div>
  </div>
  <div class="form-row">
        <div class="form-group col-md-6">
            <%= form.label :publisher, 'Publisher:' %>
            <%= form.text_field :publisher, placeholder: "Publisher"%>
        </div>
        <div class="form-group col-md-6">
            <%= form.label :publication_date, 'Publication Date:' %>
            <%= form.text_field :publication_date, placeholder: "Publication Date"%>
        </div>
  </div>
  <div class="form-row">
        <div class="form-group col-md-12" align="center">
            <%= form.text_area :summary, cols:100, rows:15, placeholder: "Summary"%>
        </div>
  </div>

  <p>
    <%= form.submit%>
  </p>

<% end %>
